<h3>Negative Change: </h3>
<table class="table" *ngIf="exchangeRates && exchangeRates.length>0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Current Change</th>
        <th scope="col">Current Exchange Rate</th>
        <th scope="col">Key</th>
        <th scope="col">Unit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rate of exchangeRates">
        <th scope="row"></th>
        <td>{{rate.CurrentChange}}</td>
        <td>{{rate.CurrentExchangeRate}}</td>
        <td>{{rate.Key}}</td>
        <td>{{rate.Unit}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="exchangeRates && exchangeRates.length == 0">nothing to show- all rate changes are positive...</div>
  
  